<div class="justify-content-center">
    <h4 style="text-align: center;margin-top: 5px;">Confirm to Proceed</h4>
    <div class="row">
        <table class="table table-hover" style="margin: 10px 10px;">
            <thead>
                <tr>
                    <td>#</td>
                    <td></td>
                    <td>Name</td>
                    <td>Price</td>
                </tr>
            </thead>
            <tbody *ngFor="let product of buyedProduct;let num=index">
                <tr *ngIf="num<buyedProduct.length-1">
                    <td>{{num+1}}</td>
                    <td style="width: 450px;"><img [src]="product.productImageUrl" class="table-image"></td>
                    <td>{{product.productName}}</td>
                    <td>{{product.productPrice|currency:'INR'}}</td>
                </tr>
            </tbody>
        </table>
        <div class="text-right" style="font-weight: bold; font-size: larger;">
            Total Amount- {{paymentDetail.amount|currency:'INR'}}
        </div>
    </div>
</div>

<div class="footer row" style="margin-left: 700px; margin-right: 700px; margin-bottom: 5px;">
    <button type="button" class="btn btn-primary btn-lg" style="background-color:#fba31c;" (click)="onSubmit()">Pay Now</button>
</div>