<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <a class="navbar-brand ml-sm-5" href="/main">Chat Away</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/main">Message <span class="sr-only">(current)</span></a>
        </li>
      </ul>

      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-success mr-sm-5 my-2 my-sm-0" type="button" routerLink="/chat" *ngIf="chatbox">My Chats</button>
        <!-- <button class="btn btn-danger mr-sm-5 my-2 my-sm-0" type="button" (click)="logout()">Get-Out</button> -->
      </form>
    </div>
  </nav>
</div>

<!-- Modal for Adding User -->
<!-- (No changes made to this part of the code) -->

<!-- Modal for Logging In -->
<!-- (No changes made to this part of the code) -->
