.input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #000000;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }

  .input:focus{
    border: 3px solid #555;
  }

  .form-text{
    font: 1em sans-serif;
    font-weight: bolder;
  }

  .form-header{
    background-color:  hsl(36, 97%, 55%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .form-header h2 {
    font-size: 30px;
    text-align:center;
    color:#666;
    padding:20px 0;

  }

  .bg-image{
    background-image: url("../../../assets/background-image.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

  ::placeholder{
    color: #000000;
    opacity: 0.5;
  }

  a{
    color:#666;
  }

  a:hover{
    color: #dc9696;
  }