<html>
<section class="vh-100 bg-image" style="background-color:#0d1338;" *ngIf="!state">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;opacity: 0.92;">
            <form [formGroup]="forgotForm" (ngSubmit)="forgotUserMail(forgotForm)">
                <div class="form-header p-2 card-body">
                  <h2 class="mb-0 form-header">Forgot Password</h2>
                </div>              
                <div class="card-body p-5 text-center">
                    <div class="form-outline mb-4">
                      <label class="form-label form-text" for="Email">Email Id</label>
                      <input type="text" id="Email" formControlName="email" class="form-control form-control-lg input" placeholder="@"/>
                      <small *ngIf="forgotForm.get('email')?.touched && forgotForm.get('email')?.hasError('required')">Email Id cannot be empty</small>
                      <small *ngIf="forgotForm.get('email')?.touched && forgotForm.get('email')?.hasError('email')">Should be in email format</small>
                    </div>
                    <button class="btn btn-primary btn-block" style="background-color:  hsl(36, 97%, 55%);" type="submit" [disabled]="forgotForm.invalid">Submit</button>
        
                    <hr class="my-4">
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>




  <section class="vh-100 bg-image" style="background-color:#0d1338;" *ngIf="state">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;opacity: 0.92;">
            <form [formGroup]="newForm"  (ngSubmit)="forgetUser(newForm)">
                <div class="form-header p-2 card-body">
                  <h2 class="mb-0 form-header">Reset Password</h2>
                </div>              
                <div class="card-body p-5 text-center">
                    <!-- <div class="form-outline mb-4">
                      <label class="form-label form-text" for="userId">UserID</label>
                      <input type="text" id="userId" value="{{userId}}"  formControlName="userId" class="form-control form-control-lg input" placeholder="UserID"/>
                      <small *ngIf="newForm.get('userId')?.touched && newForm.get('userId')?.hasError('required')">User Id cannot be empty</small>
                    </div> -->
        
                    <div class="form-outline mb-4">
                      <label class="form-label form-text" for="typepassword">Password</label>
                      <input type="password" id="typepassword" formControlName="password" class="form-control form-control-lg input" placeholder="Password"/>
                      <small *ngIf="newForm.get('password')?.touched && newForm.get('password')?.hasError('required')">Password cannot be empty</small>
                    </div>

                    <div class="form-outline mb-4">
                      <label class="form-label form-text" for="Confirmpassword">Confirm Password</label>
                      <input type="text" id="Confirmpassword" formControlName="confirmpassword" class="form-control form-control-lg input" placeholder="Password"/>
                      <small *ngIf="newForm.get('confirmpassword')?.touched && newForm.get('confirmpassword')?.hasError('required')">Password cannot be empty</small>
                    </div>
        
        
                    <button class="btn btn-primary btn-block" style="background-color:  hsl(36, 97%, 55%);" type="submit" [disabled]="newForm.invalid">Login</button>
        
                    <hr class="my-4">

        
                  </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  
</html>
  