
<section class="vh-100 bg-image" style="background-color:#0d1338;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;opacity: 0.92;">
            <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm)">
                <div class="form-header p-2 card-body">
                  <h2 class="mb-0 form-header">Login</h2>
                </div>              
                <div class="card-body p-5 text-center">
                    <div class="form-outline mb-4">
                      <label class="form-label form-text" for="userId">UserID</label>
                      <input type="text" id="userId" formControlName="userId" class="form-control form-control-lg input" placeholder="UserID"/>
                      <small *ngIf="loginForm.get('userId')?.touched && loginForm.get('userId')?.hasError('required')">User Id cannot be empty</small>
                    </div>
        
                    <div class="form-outline mb-4">
                      <label class="form-label form-text" for="typepassword">Password</label>
                      <input type="password" id="typepassword" formControlName="password" class="form-control form-control-lg input" placeholder="Password"/>
                      <small *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')">Password cannot be empty</small>
                    </div>
        
                    <div class="form-check d-flex justify-content-start mb-4 row">
                      <div class="col">
                        <label class="form-check-label"><a [routerLink]="['/forgotpassword']">Forgot Password</a></label>
                      </div>
                      <div class="col">
                        <label class="form-check-label"><a routerLink="/register" target="_self">Create New Account</a></label>
                      </div>
                    </div>
        
                    <button class="btn btn-primary btn-block" style="background-color:  hsl(36, 97%, 55%);" type="submit" [disabled]="loginForm.invalid">Login</button>
        
                    <hr class="my-4">

        
                  </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  